{% extends 'base.html.twig' %}
{% block body %}
    <div class="intro-container">
        <h1>MES PROJETS</h1>
    </div>
    <div class="bubble-container">
        <div class="bubble">Projet 1</div>
        <div class="bubble">Projet 2</div>
    </div>
{% endblock %}